input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  input[type=button]:hover {
    background-image: linear-gradient(to right, yellow, green);
    border-radius: 4px;
    } 
    input[type=reset]:hover {
    background-image: linear-gradient(to right, red, white)
    } 
  input[type=submit]:hover {
    background-image: linear-gradient(to right, purple, gray)
    } 
  